# 忽略临时文件
*.log
*.tmp
*.bak

# 忽略LaTeX编译生成文件
*.aux
*.out
*.toc
*.pdf

# 忽略Python缓存文件
__pycache__/
*.pyc

# 忽略VSCode配置
.vscode/

# 忽略备份和测试文件
sandbox/
backup/
result/

# 忽略数据文件
data/*.csv


data/spawannxs.txt
data/Temperatures/

code/myscript.sh
code/test1.png
code/test1.tif
code/MyExampleScript.sh
code/FirstExample.blg
code/FirstExample.bbl
code/FirstExample.aux
code/FirstBiblio.bib
code/FirstExample.fdb_latexmk
code/FirstExample.fls
code/FirstExample.log
code/
