# ignore some temporary files
*.log
*.tmp
*.bak

# ignore the files computed by LaTeX
*.aux
*.out
*.toc
*.pdf

# ignore python doc
__pycache__/
*.pyc

# igonre VSCode
.vscode/

# ignore sandbox
sandbox/
backup/

# ignore the direct files in week1 code/ data/
code/myscript.sh
code/test1.png
code/test1.tif
code/FirstExample.blg
code/FirstExample.bbl
code/FirstExample.aux
code/FirstExample.fdb_latexmk
code/FirstExample.fls
code/FirstExample.log

!code/FirstExample.tex
!code/FirstBiblio.bib
